.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
  margin-bottom: 1vh;
}

.filter-by {
  margin-right: 0.5vw;
}

.select-menu {
  margin-right: 0.5vw;
}

.search-icon {
  margin: 0;
  cursor: pointer;
}

/* ------------------ breakpoints ------------------ */

@media screen and (max-width: 900px) {
  .dropdown {
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  .dropdown {
    width: 50vw;
  }
}
