.article-tile {
  margin-bottom: -1%;
  position: relative;
  height: 55vh;
  width: 33.33vw;
  cursor: pointer;
}

.article-image {
  height: 55vh;
  width: 33.33vw;
  object-fit: cover;
}

.content {
  color: transparent;
  background-color: transparent;
  position: absolute;
  height: 55vh;
  width: 33.33vw;
}

.content:hover {
  position: absolute;
  background-color: #c93838;
  text-align: right;
  bottom: 0;
  color: #ffffff;
  height: 55vh;
  width: 33.33vw;
  opacity: 1;
  transition: all 0.4s ease;
}

.info {
  margin: 1.5em;
}

/* ------------------ breakpoints ------------------ */

@media screen and (max-width: 900px) {
  .article-tile,
  .article-image,
  .content,
  .content:hover {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .article-tile,
  .article-image,
  .content,
  .content:hover {
    width: 100vw;
  }
}
