.selected-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-article-title {
  font-size: 2.3em;
  width: 70vw;
}

.current-article-image {
  height: 60vh;
  border-radius: 0.2em;
  margin: 1em;
}

.abstract {
  font-size: 1.3em;
  width: 70vw;
  margin: 1em;
}

.nyt-link {
  margin-bottom: 2em;
}
