.selected-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 3px solid gray; */
  /* background-color: rgb(247, 246, 246); */
  width: 100vw;
  height: 100%;
}

.current-article-title {
  font-size: 2em;
  width: 70vw;
  margin-top: 0.7em;
  font-style: italic;
}

.current-article-image {
  height: 35vw;
  border-radius: 0.2em;
  margin: 1em;
}

.abstract {
  font-size: 1.3em;
  width: 60vw;
  margin: 1em;
}

.nyt-link {
  margin-bottom: 2em;
  width: 50vw;
}

#nytLink {
  color: #c93838;
}
