footer {
  height: 100%;
  width: 100%;
  color: white;
  position: bottom;
}

.resources {
  text-align: left;
  background-color: black;
  padding: 5em;
}

.site-info {
  background-color: #c93838;
  padding: 0.7em;
  text-align: left;
  padding-left: 5em;
}

a {
  color: #c93838;
  text-decoration: none;
}

.github-link {
  color: black;
}
