@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Quicksand:wght@300&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 4em;
  text-decoration: underline;
  text-decoration-color: #c93838;
}

h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.back-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
}

.back-arrow {
  height: 35%;
  cursor: pointer;
}

.page-title {
  width: 70vw;
}

.spacer {
  width: 15vw;
}
